src/main/webapp/WEB-INF/wsdl/FifaServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://ws.service.com/" name="fifaServices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.service.com/" schemaLocation="FifaServices_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="obtenerEntrenador">
    <part name="parameters" element="tns:obtenerEntrenador"/>
  </message>
  <message name="obtenerEntrenadorResponse">
    <part name="parameters" element="tns:obtenerEntrenadorResponse"/>
  </message>
  <message name="obtenerJugadores">
    <part name="parameters" element="tns:obtenerJugadores"/>
  </message>
  <message name="obtenerJugadoresResponse">
    <part name="parameters" element="tns:obtenerJugadoresResponse"/>
  </message>
  <message name="bienvenidaPais">
    <part name="parameters" element="tns:bienvenidaPais"/>
  </message>
  <message name="bienvenidaPaisResponse">
    <part name="parameters" element="tns:bienvenidaPaisResponse"/>
  </message>
  <message name="obtenerCapitan">
    <part name="parameters" element="tns:obtenerCapitan"/>
  </message>
  <message name="obtenerCapitanResponse">
    <part name="parameters" element="tns:obtenerCapitanResponse"/>
  </message>
  <portType name="Fifa">
    <operation name="obtenerEntrenador">
      <input wsam:Action="http://ws.service.com/Fifa/obtenerEntrenadorRequest" message="tns:obtenerEntrenador"/>
      <output wsam:Action="http://ws.service.com/Fifa/obtenerEntrenadorResponse" message="tns:obtenerEntrenadorResponse"/>
    </operation>
    <operation name="obtenerJugadores">
      <input wsam:Action="http://ws.service.com/Fifa/obtenerJugadoresRequest" message="tns:obtenerJugadores"/>
      <output wsam:Action="http://ws.service.com/Fifa/obtenerJugadoresResponse" message="tns:obtenerJugadoresResponse"/>
    </operation>
    <operation name="bienvenidaPais">
      <input wsam:Action="http://ws.service.com/Fifa/bienvenidaPaisRequest" message="tns:bienvenidaPais"/>
      <output wsam:Action="http://ws.service.com/Fifa/bienvenidaPaisResponse" message="tns:bienvenidaPaisResponse"/>
    </operation>
    <operation name="obtenerCapitan">
      <input wsam:Action="http://ws.service.com/Fifa/obtenerCapitanRequest" message="tns:obtenerCapitan"/>
      <output wsam:Action="http://ws.service.com/Fifa/obtenerCapitanResponse" message="tns:obtenerCapitanResponse"/>
    </operation>
  </portType>
  <binding name="FifaImplPortBinding" type="tns:Fifa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="obtenerEntrenador">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerJugadores">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bienvenidaPais">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerCapitan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="fifaServices">
    <port name="FifaImplPort" binding="tns:FifaImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

